<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<h2>Inscription</h2>
	<form class="form-horizontal" role="form">	
		<div class="form-group">
			<label for="firstName" class="col-sm-3 control-label">Full
				Name</label>
			<div class="col-sm-9">
				<input type="text" id="firstName" placeholder="Full Name"
					class="form-control" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input type="email" id="email" placeholder="Email"
					class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-3 control-label">Mot de passe</label>
			<div class="col-sm-9">
				<input type="password" id="password" placeholder="Password"
					class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="birthDate" class="col-sm-3 control-label">Date de naissance</label>
			<div class="col-sm-9">
				<input type="date" id="birthDate" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="country" class="col-sm-3 control-label">Pays</label>
			<div class="col-sm-9">
				<select id="country" class="form-control">
					<option>France</option>
					<option>Espagne</option>
					<option>Italie</option>
					<option>USA</option>
					<option>Allemagne</option>
				</select>
			</div>
		</div>
		<!-- /.form-group -->
		<div class="form-group">
			<label class="control-label col-sm-3">Genre</label>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-4">
						<label class="radio-inline"> <input type="radio"
							id="femaleRadio" value="Female">Femme
						</label>
					</div>
					<div class="col-sm-4">
						<label class="radio-inline"> <input type="radio"
							id="maleRadio" value="Male">Homme
						</label>
					</div>
				</div>
			</div>
		</div>

		<!-- /.form-group -->
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<div class="checkbox">
					<label> <input type="checkbox">J'accepte les conditions générales d'utilisation
					</label>
				</div>
			</div>
		</div>
		<!-- /.form-group -->
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<button type="submit" class="btn btn-primary btn-block">Créer mon compte</button>
			</div>
		</div>
	</form>
	<!-- /form -->
</div>
<!-- ./container -->