<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<form class="form-horizontal" role="form" #userForm="ngForm" (ngSubmit)="onSaveUser(userForm.value)" novalidate>	
		<div class="form-group">
			<label for="firstName" class="col-sm-3 control-label">Nom</label>
			<div class="col-sm-9">
				<input  [(ngModel)]="userForm.firstName" name="firstName" type="text" id="firstName" placeholder="Nom" class="form-control" autofocus >
			</div>
		</div>
		<div class="form-group">
			<label for="lastName" class="col-sm-3 control-label">Prénom</label>
			<div class="col-sm-9">
				<input  [(ngModel)]="userForm.lastName" name="lastName" type="text" id="lastName" placeholder="Prénom" class="form-control" autofocus >
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input [(ngModel)]="userForm.email" name="email" type="email" id="email" placeholder="Email" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-3 control-label">Mot de passe</label>
			<div class="col-sm-9">
				<input [(ngModel)]="userForm.password" name="password" type="password" id="password" placeholder="Password" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="birthDate" class="col-sm-3 control-label">Date de naissance</label>
			<div class="col-sm-9">
				<input [(ngModel)]="userForm.date" name="date" type="date" id="birthDate" class="form-control">
			</div>
		</div>

		<!-- /.form-group -->
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<div class="checkbox">
					<label> <input type="checkbox">J'accepte les conditions générales d'utilisation
					</label>
				</div>
			</div>
		</div>
		<!-- /.form-group -->
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<button type="submit" class="btn btn-primary btn-block">Créer mon compte</button>
			</div>
		</div>
	</form>
	<!-- /form -->
</div>
<!-- ./container -->