<div class="container">
	<ng-template #modalContent let-close="close">
	<div class="modal-header">
		<h5 class="modal-title">Un nouvel évenement</h5>
		<button type="button" class="close" (click)="close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div>
			Action:
			<pre>{{ modalData?.action }}</pre>
		</div>
		<div>
			Event:
			<pre>{{ modalData?.event | json }}</pre>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary"
			(click)="close()">OK</button>
	</div>
	</ng-template>

	<div class="row text-center">
		<div class="col-md-4">
			<div class="btn-group">
				<div class="btn btn-primary" mwlCalendarPreviousView [view]="view"
					[(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
					Précédent</div>
				<div class="btn btn-outline-secondary" mwlCalendarToday
					[(viewDate)]="viewDate">Aujourd'hui</div>
				<div class="btn btn-primary" mwlCalendarNextView [view]="view"
					[(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
					Prochain</div>
			</div>
		</div>
		<div class="col-md-4">
			<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
		</div>
		<div class="col-md-4">
			<div class="btn-group">
				<div class="btn btn-primary" (click)="view = 'month'"
					[class.active]="view === 'month'">Mois</div>
				<div class="btn btn-primary" (click)="view = 'week'"
					[class.active]="view === 'week'">Semaine</div>
				<div class="btn btn-primary" (click)="view = 'day'"
					[class.active]="view === 'day'">Jour</div>
			</div>
		</div>
	</div>
	<br>
	<div [ngSwitch]="view">
		<mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate"
			[events]="events" [refresh]="refresh"
			[activeDayIsOpen]="activeDayIsOpen"
			(dayClicked)="dayClicked($event.day)"
			(eventClicked)="handleEvent('Clicked', $event.event)"
			(eventTimesChanged)="eventTimesChanged($event)">
		</mwl-calendar-month-view>
		<mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate"
			[events]="events" [refresh]="refresh"
			(eventClicked)="handleEvent('Clicked', $event.event)"
			(eventTimesChanged)="eventTimesChanged($event)">
		</mwl-calendar-week-view>
		<mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate"
			[events]="events" [refresh]="refresh"
			(eventClicked)="handleEvent('Clicked', $event.event)"
			(eventTimesChanged)="eventTimesChanged($event)">
		</mwl-calendar-day-view>
	</div>

	<br>
	<br>
	<br>

	<h3>
		Editer la tâche
		<button class="btn btn-primary pull-right" (click)="addEvent()">
			Ajouter une nouvelle tâche</button>
		<div class="clearfix"></div>
	</h3>

	<table class="table table-bordered">

		<thead>
			<tr>
				<th>Titre</th>
				<th>Coleur numéro 1</th>
				<th>Coleur numéro 2</th>
				<th>Débute le : </th>
				<th>Finie le : </th>
				<th>Supprimer</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let event of events; let index = index">
				<td><input type="text" class="form-control"
					[(ngModel)]="event.title" (keyup)="refresh.next()"></td>
				<td><input type="color" [(ngModel)]="event.color.primary"
					(change)="refresh.next()"></td>
				<td><input type="color" [(ngModel)]="event.color.secondary"
					(change)="refresh.next()"></td>

				<td>
					<button class="btn btn-danger"
						(click)="events.splice(index, 1); refresh.next()">Supprimer
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
